h1{
   color:rgb(3, 173, 11);
}

.hallo{
    font-family: "papyrus";
}

h2{
    color: rgb(0, 216, 47);
}

p{
    color: rgb(0, 216, 47);
}

body{
    background-color: black;
}

.maker{
   font-family: "papyrus";
   margin: 20px;
   border: 10px white solid;
   padding: 20px;
}

.mijzelf{
    font-family: "papyrus";
}

.werk{
    font-family: "papyrus";
}

.school{
    font-family: "papyrus";
}

.photo{
    font-family: "papyrus";
}