article {
    color: darkviolet;
}

body {
    background-color: black;
}

.flex {
    display: flex;
    justify-content: center;
}

h1 {
    color: darkviolet;
}

.abouth1 {
    color: darkred;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: rgb(63, 169, 249);
}

.about {
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: darkred;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px yellow;
}

.about:hover {
    background-color: rgb(104, 0, 0);
}

.about:active {
    background-color: darkred;
    box-shadow: 0 5px rgb(4, 175, 30);
    transform: translateY(4px);
}

.home {
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: darkblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px yellow;
}

.home:hover {
    background-color: rgb(34, 17, 85);
}

.home:active {
    background-color: darkblue;
    box-shadow: 0 5px yellow;
    transform: translateY(4px);
}

.products {
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(155, 213, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(155, 1, 1);
}

.products:hover {
    background-color: rgb(125, 233, 250);
}

.products:active {
    background-color: rgba(255, 204, 0, 0.795);
    box-shadow: 0 5px rgb(148, 0, 0);
    transform: translateY(4px);
}

.contacts {
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(203, 182, 0);
}

.contacts:hover {
    background-color: rgb(200, 200, 200);
}

.contacts:active {
    background-color: rgba(201, 0, 0, 0.795);
    box-shadow: 0 5px rgb(203, 182, 0);
    transform: translateY(4px);
}