.search, .submit, .searchbar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search{
    height: 85vh;
}

.submit{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 8px;
    transition-duration: 0.4s;

}

.submit:hover{
    background-color: black;
    color: white;
}

.logo:hover{
    transform: scalex(-1);
}

.searchbar{
    padding: 10px 50px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: #c5c3c3;
}